<div class="banner pages-margin-top" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/deqc25xt2/image/upload/v1654623611/Climbly/forest-mountain-flat-design-vector-banner-template-forest-mountain-flat-design-vector-banner-template-good-web-banner-ads-226266311_buo7wk.jpg);">
  <div class="container">
    <h1>My Runs</h1>
    <p>All your runs in one place</p>
  </div>
</div>

<% @all_scores.each do |score| %>
  <div class ="card card-body d-flex justify-content-center">
    <h2 class="d-flex justify-content-center" ><%= score.hike.name %></h2>
    <p class="d-flex justify-content-center">Duration: <%= format_duration(score.duration) %></p>
    <div class="d-flex justify-content-center">
      <%= link_to "See Leaderboard", hike_scores_path(score.hike), class: "btn btn-primary btn-login" %>
    </div>
  </div>
<% end %>
