  <% hikes.each do |hike| %>
<div class="grid-item">
  <div class="card-hike" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <%= hike.name %>
  </div>
</div>
  <% end %>
