<div class="footer sticky-bottom">
  <div class="footer-container">
    <div class="div-map-search">

      <%= link_to hikes_map_path do  %>
       <i class="fa-solid fa-map-location-dot"></i>
      <% end %>
    </div>
    <div class="div-home-search">
      <%= link_to root_path do  %>
       <i class="fas fa-home"></i>
      <% end %>
    </div>
    <div class="div-myscore-search">
      <%= link_to my_scores_path do  %>
       <i class="fa-solid fa-ranking-star"></i>
      <% end %>
    </div>
  </div>
</div>
