<div class="card-hike" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path(hike.photo.key) %>);">
  <div class="container">
    <h2><%= hike.name %></h2>
  </div>
</div>
