
  <div class="pages-margin-top map-container" style="width: 100%; height: 600px;"
    data-turbolinks="false"
    data-controller="destination"
    data-destination-markers-value="<%= @marker.to_json %>"
    data-destination-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="d-flex align-items-center btn-container">
    <%= link_to "Select Hike", root_path, class: "btn btn-primary btn-container" %>
  </div>
