<div class="banner pages-margin-top" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/deqc25xt2/image/upload/v1654623611/Climbly/forest-mountain-flat-design-vector-banner-template-forest-mountain-flat-design-vector-banner-template-good-web-banner-ads-226266311_buo7wk.jpg);">
  <div class="container">
    <h1>Climbly</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
  </div>
</div>


<div class='container container-list'>
    <%= render "shared/card_hike", hikes: @hikes %>
    <br><br><br><br><br><br>
</div>
