.position{
  position: relative;
}
.btn-select{
  width: 92%;
  position: absolute;
  left: 13px;
  // margin: 0px 1rem;
  bottom: 3rem;
}


.btn-post{
  width: 8em;
  padding: 4px 8px;
  border-radius: 25px;
}

.btn-skip{
  width: 8em;
  padding: 4px 8px;
  border-radius: 25px;
}

.btn-login{
  margin-top: 4px;
  width: 20em;
  border-radius: 25px;
}

.btn-approve{
  width: 92%;
  position: absolute;
  left: 13px;
  // margin: 0px 1rem;
  bottom: 6rem;
}
