.card-hike-show {
  background-color:lightgrey;
}

.p.description-body {
  text-align: justify;
}







.btn-start{
  position: absolute;
  bottom: 3rem;
  width: 90%;
  border-radius: 25px;
}

.btn-test{
  width: 100%;
  border-radius: 25px;
}
