.card-hike-show {
  background-color:lightgrey;
}

.p.description-body {
  text-align: justify;
}







.btn-end{
  position: absolute;
  bottom: 25px;
  right: 16px;
}

.btn-start{
  position: absolute;
  bottom: 25px;
}
