.score-container{
  background-color: lightgrey;
  margin: 10px 15px;
  padding: 8px 16px;
  max-height: 120px;
  border-radius: 10px;

  p{
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
}


.navbar-toggler-profile{
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.7rem;
  margin: 0px 10px 0px 0px;
  // width: 45px;
  // height: 45px;
  padding: 5px;
  background-color: lightgray;
  border-radius: 50%;
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;

  .far{
    color: black;
  }
}

.search-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;

  a{
    font-size: 1.7rem;
    margin: 0px 10px 0px 0px;
    // width: 45px;
    // height: 45px;
    padding: 5px;
    background-color: lightgray;
    border-radius: 50%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.container-background{
  background-color: #3A5A40;
}

.container-background-whiter{
  background-color: white;
  border-radius: 8px;
}


.container-card-show-content{
  padding-top: 16px
}








.pages-margin-top{
  margin-top: 66px;
}




.map-container{
  position: relative;
}


.btn-container{
  position: absolute;
  bottom: 2.5em;
  left: 1em;
  width: 90%;
}
