.banner-container{
  position: relative;

  a{

    -webkit-text-stroke: 1px black;
    text-decoration: none;
    color: goldenrod;
    // border: 1px solid black;

  }
}

.trophy-icon{
  position: absolute;
  right: -12px;
  top: -12px;
  background-color: lightgrey;
  font-size: 24px;
  padding: 8px;
  border-radius: 50%;
}
