.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 3;
  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand{
    font-size: 24px;
  }
}


.sticky-top{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.navbar-toggler-profile-image{
  margin: 0px 0px 0px 0px;
  padding: 2px;
  background-color: lightgray;
  border-radius: 50%;

}

.navbar-toggler-profile-basic{
  font-size: 1.7rem;
  padding: 5px;
  background-color: lightgray;
  color: black;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  justify-content: center;

  i{
    color: black;
  }
}
