.mainstopwatch{
  width: 400px;
  height: 71px;
  margin: 100px auto;
  padding: 10px 50px 30px;
  text-align: center;
  font-size: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #afafaf, -15px -15px 30px #ffffff;
  border-radius: 40px;
  background: #e0e0e0;
  box-shadow: 6px -6px 8px #9d9d9d, -6px 6px 8px #ffffff;
}
