.mainstopwatch{
  width: 400px;
  height: 20px;
  margin:100px auto;
  padding:60px 50px 10px;
  text-align:center;
  font-size: 40px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #afafaf,-15px -15px 30px #ffffff;
  border-radius:40px;
  background: #e0e0e0;
  box-shadow:6px -6px 8px #9d9d9d, -6px 6px 8px #ffffff;
}
