<% @reviews.each do |review| %>
<div class="card-group">
  <div class="card d-flex p-2">
    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" style="width: 50px;"
  alt="Avatar" />
    <div class="card-body ">
    <% review.rating.times do %>
      <span class="fa fa-star checked"></span>
    <% end %>
    <div>
    <% review.difficulty.times do %>
    <p class="fa fa-star checked"></p>
    <% end %>
    </div>
      <h5 class="card-title"><%= review.hike.name %></h5>
      <p class="card-text"><%= review.content%>
    </div>
<%= link_to 'Edit', new_hike_review_path, class:"btn btn-light"%>
  </div>
 </div>
<% end %>
<%= link_to 'Add Review', new_hike_review_path, class:"btn btn-primary"%>
