<div class="container-background container pages-margin-top card-input-container">

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% if @review.photos.attached? %>
        <div class="carousel-item active image-carousel">
          <%= cl_image_tag @review.photos[0].key, class:'d-block w-100' %>
        </div>
        <% @review.photos[1..-1].each do |photo| %>
          <div class="carousel-item image-carousel">
            <%= cl_image_tag photo.key, class:'d-block w-100 image-carousel' %>
          </div>
        <% end %>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h2>posted by: <% @review.user.firstName %> <% @review.user.lastName %> </h2>
       <%= link_to 'Back', hike_reviews_path, class: "btn btn-primary" %>
    </div>
    <p>Rating:
      <% @review.rating.times do %>
        <i class="fa-solid fa-star"></i>
      <% end %>
    </p>
    <p>Difficulty:
      <% @review.difficulty.times do %>
        <i class="fa-solid fa-star"></i>
      <% end %>
    </p>
    <div class="pages-padding-bottom">
      <h3> Description: </h3>
      <%= @review.content %>

    </div>
  </div>
</div>
